In [3]:
import pandas as pd
import re ,sqlite3
from sklearn import datasets
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

# New-Car_main

In [7]:
data_cars = pd.read_csv('carData.csv')
data = str(data_cars)
print (data)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]

premier extration de donnée

In [2]:
data_serv = sqlite3.connect('carData.db')
table_voiture = data_serv.cursor()
voiture_bd = "CREATE TABLE voiture (id INTEGER PRIMARY KEY AUTOINCREMENT, autoincrement  Car_Name not null,Year(),Selling_Price(),Present_Price(),Kms_Driven(),Fuel_Type(),Seller_Type(),Transmission,Owner()"
table_voiture.execute(voiture_bd) # Création de la base de données
data_serv.commit() # On envoie la requête SQL

NameError: name 'sqlite3' is not defined

In [11]:
table_voiture.execute("INSERT INTO Contacts (data)) # On ajoute un enregistrement
data_serv.commit()

SyntaxError: EOL while scanning string literal (4044826073.py, line 1)

In [3]:
data_serv.close()

NameError: name 'data_serv' is not defined