In [2]:
import pandas as pd
import re ,sqlite3
import matplotlib.pyplot as plt

# New-Car_main

In [3]:
data_cars = pd.read_csv('carData.csv')
data_cars

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

premier extration de donnée

In [2]:
data_serv = sqlite3.connect('carData.db')
table_voiture = data_serv.cursor()
voiture_bd = "CREATE TABLE voiture (id INTEGER PRIMARY KEY AUTOINCREMENT, autoincrement  Car_Name not null,Year(),Selling_Price(),Present_Price(),Kms_Driven(),Fuel_Type(),Seller_Type(),Transmission,Owner()"
table_voiture.execute(voiture_bd) # Création de la base de données
data_serv.commit() # On envoie la requête SQL

NameError: name 'sqlite3' is not defined

In [11]:
table_voiture.execute("INSERT INTO Contacts (data)) # On ajoute un enregistrement
data_serv.commit()

SyntaxError: EOL while scanning string literal (4044826073.py, line 1)

In [3]:
data_serv.close()

NameError: name 'data_serv' is not defined